<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picnic/7.1.0/picnic.min.css" integrity="sha512-HZgZOfcUw1rxWuEBlzDis5U4HlbzR0wcWmb3FrLSKV6uhZiZpT9JSTzPJplHDmJZJFNfAReW+iDELJ1kADYHtA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" integrity="sha512-PW9BfYtoXV6XYb/4FTkBoJEBM92TrGk7N324cCmF5i2dY02YvBg6ZPEAnSOZ5i2/nGPbsYFQwVzDxVVoWEKWww==" crossorigin="anonymous" />
        <title><%= yield(:title, 'jtarchie.com') %></title>
        <style>
            .content {
                padding: 10px;
                max-width: 960px;
                width: 100%;
                margin: 100px auto 500px;
            }
            @media print {
                nav {
                    display: none;
                }
                .content {
                    margin: 0;
                }
            }
        </style>
    </head>
    <body>
    <nav class="demo">
        <a href="/" class="brand">
            <span>JT Archie</span>
        </a>
        <div class="menu">
            <a href="/posts" class="pseudo button">Blog</a>
            <a href="https://github.com/jtarchie/site" target="_blank" class="pseudo button">Github</a>
        </div>
    </nav>
    <main class="content">
        <%= yield(:content) %>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js" integrity="sha512-MFn8OyBl1+xHPFpbyXJjYrUFSPOIznR5zo8sBN6eSF35K/F/PqSo3EqFfXHqhMzhQdr8z6dMsCEyIjDjBPy+4w==" crossorigin="anonymous"></script>
    </body>
</html>
