on:
  schedule:
    - cron: '1 0 * * *'
  workflow_dispatch:

name: Check markdown links
jobs:
  my-broken-link-checker:
    name: Check broken links
    runs-on: ubuntu-latest
    steps:
      - name: Check
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: https://www.jtarchie.com
          cmd_params: "--rate-limit=1 --max-connections=3 --color=always --verbose"
