# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: apt-get install
      run: |
        sudo apt-get update
        sudo apt-get install tidy wkhtmltopdf
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Install builder
      uses: jaxxstorm/action-install-gh-release@v1.10.0
      with: # Grab the latest version
        repo: jtarchie/builder
        token: ${{ secrets.GITHUB_TOKEN }}
        cache: enable
    - name: Run tests
      run: bundle exec rspec
